$light-blue: #1097fd;
$white: #fff;
$dark-grey: #828282;
$button-color: #2f80ed;
$input-background: #e0e0e0;
$input-light: #efefef;
$dark-black: #000;
$error-red: #eb5757;
$form-background: #f2f2f2;
$card-background: #e5e5e5;
$green-outline: #27ae60;
$blue-outline: #2f80ec;
$yellow-outline: #f2c94e;
$darkest-gray: #4f4f4f;
$grey: #929292;
