<div class="card__icon">
  <!-- <span class="counter">{{ card.statistics.viewCount }}</span> -->
  <mat-icon>remove_red_eye</mat-icon>
</div>
<div class="card__icon">
  <!-- <span class="counter">{{ card.statistics.likeCount }}</span> -->
  <mat-icon>thumb_up_alt</mat-icon>
</div>
<div class="card__icon">
  <!-- <span class="counter">{{ card.statistics.dislikeCount }}</span> -->
  <mat-icon>thumb_down_alt</mat-icon>
</div>
<div class="card__icon">
  <!-- <span class="counter">{{ card.statistics.commentCount }}</span> -->
  <mat-icon> comment</mat-icon>
</div>
