@import "../../../../styles/colors.scss";

.card {
  padding: 24px 24px 10px;
  width: 328px;
  height: 380px;
  background-color: $card-background;
  box-shadow: 2px 1px 3px 0px #d5d5d5;
  border-bottom: 4px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &.green {
    border-color: $green-outline;
  }
  &.blue {
    border-color: $blue-outline;
  }
  &.red {
    border-color: $error-red;
  }
  &.yellow {
    border-color: $yellow-outline;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__button {
    background-color: $light-blue;
    color: $white;
    border-radius: 8px;
    width: 120px;
    margin-top: auto;
  }
  &__icons {
    display: flex;
    margin-bottom: 24px;
    margin-top: 16px;
    column-gap: 10px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    .mat-icon {
      color: $dark-black;
    }

    .counter {
      color: $dark-black;
      margin-left: 4px;
    }
  }
  &__title {
    text-align: center;
    color: $darkest-gray;
  }
}
